<app-menu viewer="true">
  <div class="demo-ribbon"></div>
  <div class="container">
    <div class="grid">
      <div class="marg"></div>
      <div class="center-box">
        <h3>Контактная информация:</h3>
        <p class="p1"><span class="s1">В случае возникновения <b>вопроса</b>, <b>замечания</b> или <b>пожелания</b>, вы можете связаться с нами, воспользовавшись <b>контактами ниже</b> и написать нам письмо, на которое вы обязательно получите <b>своевременный ответ</b>.</span></p>
      </div>
    </div>
  </div>
</app-menu>