<div class="green-back"></div>
<div class="add header non-fixed">
    <button routerLink="/admin" class="addButton" >Back</button>

    <button *ngIf="lyrics" class="addButton save" (click)="edit()">Save</button>
    <button *ngIf="!lyrics" class="addButton save" (click)="add()">Add</button>
</div>

<div class="background"></div>
<div class="space"></div>
<div class=" half content left">
    <input type="text" value="Song #{{song.number}}. '{{song.name}}'" class="edit-head" disabled>
    <br>
    <!--<editor apiKey="612hjhs0xfdyn8wy7bo2ciiwtica388m526cr2myrsp32ty0" [initialValue]="lyr" #tex (onChange)="log(lyr)" (ngModel)="lyr" ></editor>-->


    <!--<textarea #tex (keyup)="lyr = tex.value">{{lyr}}</textarea>-->

    <div [froalaEditor] [(froalaModel)]="lyr"></div>


    <!--<button class="addButton delete" (click)="delete()">Delete</button>-->
</div>
<div class="half content right" [froalaView]="lyr"></div>

<!--<link href="/assets/css/admin.css" rel="stylesheet" />-->
<!--<link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet">-->
<!--<link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
<style>
    @media screen and (min-width: 900px) {
        input[type=text], select, input[type=number], input[type=date] {
            padding: 12px 20px;
            margin: 5px 0;
            font-size: 16px;
        }
        textarea {
            font-size: 16px;
        }
        .triple {
            font-size: 17px;
        }
        .space {
            height: 8vw;
        }
        .half {
            width: 50%;
            left: 25%;
            margin-top: 8vw;
        }
        .left {
            position: absolute;
            width: 40%;
            left: 5%;
        }
        .right {
            position: absolute;
            width: 40%;
            left: 50%;
        }
    }
</style>